/*Tag Selectors */

/** ___colors ___
    color:#7F6DFF;
    white #FFFFFF;
    blue:#89BEFC;
    pink:#F289FB;

**/

body{
  font-family:  'Times New Roman', Times, serif;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;

}

h1{
    font-family:  'Times New Roman', Times, serif;
    font-size: 18px;
     font-weight: bold;  
    color: rgb(0, 0, 0);


}

h2{
    font-family:  'Times New Roman', Times, serif;
    font-size: 16px;
     font-weight: bold;  
    color: rgb(0, 0, 0);
    text-align: center;

}



h3{

    font-family:  'Times New Roman', Times, serif;
    font-size: 16px;
     font-weight: bold;  
    color: rgb(0, 0, 0);
    text-align: left;
    margin-top: 30px;

}

p{
    text-indent: 20px;
    text-align: justify;
    width: 80%;
}

ul li{
    list-style: none;
    line-height: 200%;
    width: 200px;
    font-size: 28px;
    float: right;
    margin-left: 10px;


    background-color: gray;
    text-align: center;
    border-radius: 10px;

    width: 200px;
    padding: 5px 10px 5px 10px;


}
ol li{
    list-style-type: numbers;
    line-height: 180%;
    width: 65%;

}



/** pseudo classess ****/

a:link{
    color :green;
    text-decoration: none;
background-color: gray;

}
a:visited{
    color:blue;
    text-decoration: red;
}
a:hover{
    color:blue; text-decoration: red;
}

a:active{
    color:green;font-weight: bold;
}

/***** ____ID SELECTORS___*****/

#hashiposter{
    float:right;
    margin: 10px;

    margin-bottom: 50px;
    margin-right: 20px;
    width: 400px;
    height: 650px;

}

#centerDoc a:link{
    color: green;text-decoration: underline;

}
#centerDoc a:hover{
    color: blue;
    margin-top: 100px;
}

#navigation{
    position:absolute;
    margin-right: 50px;

    
    
}

#centerDoc{
    position:absolute;
    z-index: 15;
    padding: 0 0 20px 20px;
    margin-top: 100px;
    margin-left: 50px;
    width: 90%;
    min-width: 500x;
    max-width: 1200px;

}